<section id="newsletter" class = "screen">
    <app-menu-black />
    <div class="content">
        <h1>Bądź na bieżąco</h1>
        <form>
            <input type="text" name="firstName" id="firstName" placeholder="Imię">
            <input type="text" name="lastName" id="lastName" placeholder="Nazwisko">
            <input type="text" name="email" id="email" placeholder="E-mail">
            <div>
            <input type="checkbox" name="rodo" id="rodo">
            <label for="rodo">Wyrażam zgodę na przetwarzanie moich danych osobowych 
                podanych w powyższym formularzu w celach handlowych i marketingowych 
                przez Rapid Studio oraz przez podmioty trzecie.</label></div>
        </form>
        <button id="newsletterBtn">Zapisz się do newslettera</button>
    </div>
</section>
