<section id="jobs" class = "screen">
        <app-menu-black />
        <div class="content">
            <div id="left">
                <h1>Dołącz do nas</h1>
                <p>Wyślij nam swoje CV na 
                    <!-- <a href="mailto: rapidstudio@career.com">rapidstudio@career.com</a> -->
                    lub zapisz się do newslettera aby otrzymywać najnowsze informacje</p>
                <button id = "newsletterScroll">Zapisz się do newslettera</button>
            </div>
            <div id="right">
                <table id = "jobOffers">
                </table>
            </div>
        </div>
</section>
