<section id = "eclipseGameplay" class = "screen">
    <app-menu-white />
    <div class="content">
            <h1>WARTKA AKCJA MMO/RPG</h1>
            <div>
                <img src="../../../../assets/images/eclipse/img1.jpg">
                <h3>JEDEN EWOULUJĄCY ŚWIAT</h3>
                <p>Rozległy świat, który nieustannie powiększa się o nowe sezony, wydarzenia i dodatki, oferując graczom nowe wyzwania i kolekcję przedmiotów do zebrania.</p>
            </div>
            <div>
                <img src="../../../../assets/images/eclipse/img2.jpg">
                <h3>WSPÓŁPRACA CZY RYWALIZACJA</h3>
                <p>Graj solo lub ze znajomymi, uczestnicząc w ekscytujących przygodach z rzadkimi i potężnymi nagrodami. Weź udział w szturmie jako samotny wilk lub w najeździe z drużyną ogniową. Pokonaj konkurencję w zaciętych potyczkach w trybie każdy na każdego i na dzikich drużynowych arenach.</p>
            </div>
            <div>
                <img src="../../../../assets/images/eclipse/img3.jpg">
                <h3>GRAJ PO SWOJEMU</h3>
                <p>Wybierz najlepsze twoim zdaniem statystyki i zgromadź fantastyczną kolekcję broni, pancerzy i modyfikacji, dzięki którym spersonalizujesz swój styl walki.</p>
            </div>
    </div>
</section>