<section id = "dreadbornePlot" class = "screen">
    <app-menu-white />
    <div class="content">
        <h1>Wciągająca fabuła na długie godziny</h1>
        <p>Wciągająca opowieść rozgrywająca się w mrocznym fantasy. <br>
            Przeżyj przygodę w otwartym świecie, gdzie każda decyzja rysuje swoje własne losy.<br>
            Knuj sojusze, staw czoła wrogom, a tajemnice świata inspirowanego <br>
            ludowymi legendami same przed Tobą odsłonią. <br>
            Zanurz się w niezwykłej podróży, gdzie magia splata się z niebezpieczeństwem, <br>
            a twoje wybory kształtują nie tylko twoją historię, ale i losy całego świata.</p>
    </div>
</section>