<section id = "eclipseWorld" class = "screen">
    <app-menu-black />
    <div class="content">
            <h2>DYNAMICZNIE ZMIENIAJĄCY SIĘ ŚWIAT</h2>
            <p>Regularne dodatki, wydarzenia i sezony powodują, że rozgrywka zawsze jest intensywna. <br>
                Dodatkowo zmienne pory roku  urozmaicają rozgrywkę.</p>
            <div id = images>
                <img src="../../../../assets/images/eclipse/spring.jpg" alt="spring">
                <img src="../../../../assets/images/eclipse/summer.png" alt="summer"><br>
                <img src="../../../../assets/images/eclipse/autumn.png" alt="autumn">
                <img src="../../../../assets/images/eclipse/winter.jpg" alt="winter">
            </div>
    </div>
</section>