<header class="menuBlack">
    <a href="/home">
        <button type="button" class="home" id="MBhome">
            <img src= "../../../../assets/images/rapid/logo rapid czarne.png" id="MBimgmain" alt="logo rapid czarne.png">
            <img src="../../../../assets/images/rapid/logo rapid białe.png" id="MBimghover" alt="logo rapid białe.png">
        </button>
    </a>
    <div class="dopdownBlack">
        <button type="button" class="games">Nasze gry</button>
        <div class="dropdownBlackContent">
            <a href ="eclipse">
                <button type="button" class="eclipseLearnMore">Eclipse</button>
            </a>
            <a href="/dreadborne">
                <button type="button" class="dreadborneLearnMore">Dreadborne</button>
            </a>
        </div>
    </div>
    <a href ="/about">
        <button type="button" class="about">O nas</button>
    </a>
    <a href ="/career">
        <button type="button" class="career">Kariera</button>
    </a>
</header>
