<section id="eclipse" class="screen">
    <app-menu-black></app-menu-black>
    <div class="content">
      <div class="left">
        <p>
          Osadzona w świecie 30 lat po wojnie nuklearnej gra z elementami multiplayer, <br />
          gdzie musisz uważać zarówno na mordercze promieniowanie ale również na innych ludzi.
        </p>
      </div>
      <div class="right">
        <img src = "../../../../assets/images/eclipse/eclipse logo.png" id="eclipseGameLogo" alt="Eclipse Logo">
        <a href ="eclipse">
          <button type="button" class="eclipseLearnMore">Dowiedz się więcej</button>
        </a>
      </div>
    </div>
  </section>