<section id = "dreadborneClasses" class = "screen">
    <app-menu-black />
    <div class="content">
        <h1>TRZY UNIKALNE KLASY</h1>
        <div id ="warlock">
            <img src="../../../../assets/images/dreadborne/warlock.jpg" alt="warlock">
            <h3>Czarownik</h3>
            <p>Czarownicy wykorzystują tajemnice świata jako broń pomagającą im przetrwać i pokonać wrogów.</p>
        </div>
        <div id ="hunter">
            <img src="../../../../assets/images/dreadborne/hunter.jpg" alt="hunter">
            <h3>Łowca</h3>
            <p>Poruszający się szybko i jeszcze szybciej dobywający broni Łowcy wytyczają własne szlaki i spisują swoje własne prawa.</p>
        </div>
        <div id ="titan">
            <img src="../../../../assets/images/dreadborne/titan.jpg" alt="titan">
            <h3>Tytan</h3>
            <p>Zdyscyplinowani i dumni Tytani stają na czele walki, zaciekle atakując i skutecznie broniąc pozycji.</p>
        </div>
    </div>
</section>