<header class="menuWhite">
    <a href="/home">
        <button type="button" class="home" id="MWhome">
            <img src= "../../../../assets/images/rapid/logo rapid białe.png" id="MWimgmain" alt="logo rapid białe.png">
            <img src="../../../../assets/images/rapid/logo rapid czarne.png" id="MWimghover" alt="logo rapid czarne.png">
        </button>
    </a>
    <div class="dopdownWhite">
        <button type="button" class="games">Nasze gry</button>
        <div class="dropdownWhiteContent">
            <a href ="/eclipse">
                <button type="button" class="eclipseLearnMore">Eclipse</button>
            </a>
            <a href="/dreadborne">
                <button type="button" class="dreadborneLearnMore">Dreadborne</button>
            </a>
        </div>
    </div>
    <a href ="/about">
        <button type="button" class="about">O nas</button>
    </a>
    <a href ="/career">
        <button type="button" class="career">Kariera</button>
    </a>
</header>
