<section id="rapidGames" class = "screen">
    <app-menu-black />
    <div class="content">
        <div id="left">
            <img src="../../../../assets/images/eclipse/eclipse logo.png" id = "eclipseLogo">
            <img src="../../../../assets/images/dreadborne/dreadborne logo.png" id = "dreadborneLogo">
        </div>
        <div id="right">
            <h1>Tworzymy z Pasją</h1>
            <h3>Pasja Przekładająca się na Zaangażowanie</h3>
            <p>Nie ograniczamy się do samej pracy nad projektami, 
                ale przenosimy pasję do każdego elementu procesu twórczego, 
                co przekłada się na wyjątkowe doświadczenia dla graczy. 
                Każdy projekt w Rapid Studio to nie tylko praca, ale również spełnianie marzeń, 
                co sprawia, że nasze gry mają autentyczność i osobisty wydźwięk.</p>
            <h3>Gry, Które Budzą Emocje</h3>
            <p>Nasze gry łączą wciągającą narrację z głębokim emocjonalnym doświadczeniem graczy, 
                sprawiając, że stają się one nie tylko formą rozrywki, ale również podróżą przez różne uczucia. 
                Naszym celem jest nie tylko dostarczanie rozrywki, lecz także rozwijanie społeczności graczy, 
                dzięki czemu każdy, kto wchodzi w świat Rapid Studio, może odkryć coś nowego i inspirującego.</p>
        </div>
    </div>
</section>