<section id="dreadborne" class="screen">
    <app-menu-white></app-menu-white>
    <div class="content">
      <div class="left">
        <img src="../../../../assets/images/dreadborne/dreadborne logo.png" id="dreadborneGameLogo" alt="Dreadborne Logo" />
        <a href ="dreadborne">
          <button type="button" class="dreadborneLearnMore">Dowiedz się więcej</button>
        </a>
      </div>
      <div class="right">
        <p>
          Wielokrotnie nagradzana gra RPG z otwartym światem w klimatach dark fantasy, <br />
          w której każdy wybór niesie za sobą konsekwencje.
        </p>
      </div>
    </div>
  </section>